[user]
	email = peynmurray@gmail.com
	name = pdmurray
[core]
	pager = delta
[pretty]
    prettynice = "%C(Yellow)%h %C(reset)%ad %C(Green)%<(12,trunc) %cr %C(reset) %<(20,trunc)%C(Cyan)%an %C(reset)%s"
[format]
    pretty = prettynice
[alias]
    logg = log --pretty=prettynice -n 20 --date=short --no-merges
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
    side-by-side = true
    line-numbers = true

[interactive]
    diffFilter = delta --color-only
