[user]
	email = peynmurray@gmail.com
	name = pdmurray
[core]
	pager = delta
	excludesFile = compile_commands.json

[pretty]
    prettynice = "%C(Yellow)%h %C(reset)%ad %C(Green)%<(12,trunc) %cr %C(reset) %<(20,trunc)%C(Cyan)%an %C(reset)%s"
[format]
    pretty = prettynice
[alias]
    logg = log --pretty=prettynice -n 20 --date=short --no-merges
    recent = !get_git_recent_branches
    default = !get_git_default_branch
    current = !get_git_current_branch
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[branch]
	autosetuprebase = always
[advice]
	detachedHead = false
[diff]
	external = difft
