snippet pdb
	import pdb; pdb.set_trace()
endsnippet
snippet bpdb
	import bpdb; bpdb.set_trace()
endsnippet
snippet ipdb
	import ipdb; ipdb.set_trace()
endsnippet
snippet iem
	import IPython; IPython.set_trace()
endsnippet
snippet rpdb
	import rpdb; rpdb.set_trace()
endsnippet
snippet pudb
	import pudb; pudb.set_trace()
endsnippet
